.layout {
  // $a - area
  $a-pre: precontent;
  $a-cont: content;
  $a-side: sidebar;
  $a-post: postcontent;

  display: grid;
  column-gap: 120px;
  row-gap: 80px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
   "#{$a-pre}  #{$a-pre}"
   "#{$a-cont} #{$a-side}"
   "#{$a-post} #{$a-post}";

   @each $area in (
    $a-pre,
    $a-cont,
    $a-side,
    $a-post
  ) {
    &__#{$area} {
      grid-area: $area;
    }
  }
}