{% extends "layout.njk" %}

{% from 'recent.njk' import recent %}
{% from 'content.njk' import content %}
{% from 'sidebar.njk' import sidebar %}
{% from 'popular.njk' import popular %}

{% block content %}
  <div class="layout container">
    {{ recent('layout__precontent') }}

    {{ content('layout__content') }}

    {{ sidebar('layout__sidebar') }}

    {{ popular('layout__postcontent') }}
  </div>
{% endblock %}
