{% from 'header.njk' import header %}
{% from 'footer.njk' import footer %}

<!DOCTYPE html>
<html lang="en" class="page">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Premium Cars</title>
  <link rel="stylesheet" href="styles/index.scss">
</head>
<body class="page__container">
  {{ header("page__header") }}
  
  {% block content %}

  {% endblock %}

  {{ footer("page__footer") }}
</body>
</html>