{% macro article(class, title, img, tag) %}
<article class="article {{ class }}" style="background-image: url({{ img }})">
  <div class="article__wrapper">
    <h3 class="article__title">{{ title }}</h3>
    <p class="article__meta">
      <span class="article__author">Rickie Baroch</span>
      <time class="article__date">June 6, 2019</time>
    </p>
    <span class="article__tag">{{ tag }}</span>
  </div>
</article>
{% endmacro %}
