{% from 'logo.njk' import logo %}

{% macro header(class) %}
<header class="header {{ class }}">
  <div class="header__container container">
    {{ logo() }}

    <nav class="header__navigation main-navigation">
      {% set navigation = {
        'Home': '#',
        'Recipes': '#',
        'Article': '#',
        'Contact': '#',
        'Purchase': '#'
      } %}
      <ul class="main-navigation__list">
        {% for caption, link in navigation %}
          <li class="main-navigation__item">
            <a class="main-navigation__link" href="{{ link }}">{{ caption }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <form class="header__search search">
      <input class="search__input" type="search">
      <button class="search__open" type="button">
        <svg width="16" height="17">
          <use href="icons/search.svg"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
{% endmacro %}
