{% from 'article.njk' import article %}

{% macro recent(class) %}
<section class="{{ class }} recent">
  <h2 class="visually-hidden">Свежие статьи</h2>
  <ul class="recent__list">
    <li class="recent__item recent__item--tall">
      {{ article('', 'One of Saturn’s largest rings may be newer than anyone', 'img/article-1.jpg', 'Vehicle') }}
    </li>
    <li class="recent__item">
      {{ article('', 'One of Saturn’s largest rings may be newer than anyone', 'img/article-2.jpg', 'Vehicle') }}
    </li>
    <li class="recent__item">
      {{ article('', 'One of Saturn’s largest rings may be newer than anyone', 'img/article-3.jpg', 'Vehicle') }}
    </li>
    <li class="recent__item">
      {{ article('', 'One of Saturn’s largest rings may be newer than anyone', 'img/article-4.jpg', 'Vehicle') }}
    </li>
    <li class="recent__item">
      {{ article('', 'One of Saturn’s largest rings may be newer than anyone', 'img/article-5.jpg', 'Vehicle') }}
    </li>
  </ul>
</section>
{% endmacro %}
