@use 'base-colors' as *;

:root {
  --color-primary: #{$black};
  --color-secondary: #{$blue};
  --color-accent: #{$light-gray};
  --color-text: #{$gray};
  --color-text-accent: #{$light-black};
  --color-text-contrast: #{$white};

  --color-background: #{$white};
}
