*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font: inherit;
}

svg {
  fill: currentColor;  
}
